.ct-button {
    border-radius: 500px; /* For capsule shape */

}

.ct-tab-icon {
    border-radius: 0.1rem;
    width: 0.4rem;
    height: 0.4rem;
    
}

.ct-tab-pane {
    background-color: var(--tab-pane-bg);
}

.ct-tab-button {
    background-color: var(--tab-button-bg);
    color: var(--tab-button-text);
    font-weight: bold;
    transition: background-color 0.2s ease-out;
    cursor: pointer;
}

.ct-tab-button.active {
    background-color: var(--tab-button-bg-active);
    color: var(--tab-button-text-active);
}

.ct-tab-button svg {
    fill: var(--tab-button-text);
}

.ct-tab-button.active svg {
    fill: var(--tab-button-text-active);
}

.ct-tab-button:hover {
    background-color: var(--tab-button-bg-active);
}